<%
  @title = 'A propos'
  @breadcrumb = [['/', 'Accueil'], ['/about', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<p>
Application open-source, code disponible sur github : <a href="http://github.com/vbehar/jev-intranet">http://github.com/vbehar/jev-intranet</a>
</p>

<h3>Statut de l'application</h3>

<dl>
  <dt>Environnement</dt>
  <dd><%= options.environment.to_s rescue 'inconnu' %></dd>
</dl>

<dl>
  <dt>Dernier démarrage</dt>
  <dd><%= options.start_time.strftime('%d/%m/%Y %H:%M:%S') rescue 'inconnu' %></dd>
</dl>

<dl>
  <dt>Branche</dt>
  <dd><%= options.git_branch rescue 'inconnue' %></dd>
</dl>

<dl>
  <dt>Version</dt>
  <dd><%= options.git_version rescue 'inconnue' %> (complète : <%= options.git_version_full rescue 'inconnue' %>)</dd>
</dl>

<dl>
  <dt>Date de la version</dt>
  <dd><%= options.git_version_date.strftime('%d/%m/%Y %H:%M:%S') rescue 'inconnue' %></dd>
</dl>

<hr class="clear" />
</div>

