<%
  @title = "Mon compte"
  @breadcrumb = [['/', 'Accueil'], ['/account', @title]]
%>

<h2>Mon compte</h2>

<form id="account" name="account" method="post" action="/account">

  <div class="niceform">
    <h3>Coordonnées</h3>
    <p>En cas de changement d'adresse, de numéro de téléphone, etc, pensez à mettre à jour vos coordonnées !</p>

    <label for="user_uid">Identifiant<span class="labeltip">de connexion</span></label>
    <input type="text" name="user[uid]" id="user_uid" value="<%= @me.uid %>" readonly />

    <label for="user_cn">Nom<span class="labeltip"></span></label>
    <input type="text" name="user[cn]" id="user_cn" value="<%= @me.cn %>" readonly />

    <label for="user_display_name">Pseudo<span class="labeltip">affiché sur l'intranet</span></label>
    <input type="text" name="user[display_name]" id="user_display_name" value="<%= @me.display_name %>" />

    <label for="user_gender">Sexe<span class="labeltip"></span></label>
    <select name="user[gender]" id="user_gender">
      <option value="M" <%= "selected='selected'" if @me.male? %>>Homme</option>
      <option value="F" <%= "selected='selected'" if @me.female? %>>Femme</option>
    </select>

    <label for="user_birth_date_fr">Date de naissance<span class="labeltip">format jj/mm/aaaa</span></label>
    <input type="text" name="user[birth_date_fr]" id="user_birth_date_fr" value="<%= @me.birth_date.strftime('%d/%m/%Y') rescue '' %>" />
    <input type="hidden" name="user[birth_date]" id="user_birth_date" value="<%= @me.birth_date.strftime('%Y-%m-%d') rescue '' %>" />
    <script type="text/javascript">
      //<![CDATA[
      $(document).ready(function(){
        $("#user_birth_date_fr").datepicker({altField:'#user_birth_date', altFormat:'yy-mm-dd', changeMonth:true, changeYear:true, yearRange:'1950:2010', showButtonPanel:true, closeText:'X', showOn:'both', buttonImage:'/images/icons/calendar.gif', buttonImageOnly:true, buttonText:'Calendrier', currentText:'Aujourd\'hui'});
      });
      //]]>
    </script>

    <h4 class="separator">Adresses e-mail</h4>
    <% @me.mail(true).each_with_index do |mail, index| %>
    <div id="user_mail_block_<%= index %>">
      <label for="user_mail_<%= index %>">Email <%= index + 1 %><span class="labeltip"></span></label>
      <input type="text" name="user[mail][]" id="user_mail_<%= index %>" value="<%= mail %>" />
      <span class="action"><a href="javascript:$('#user_mail_block_<%= index %>').remove();">x</a></span>
    </div>
    <% end %>
    <!--<a href="javascript:$('<p>plop</p>').insertBefore('#mail')" id='mail'>add mail</a>-->

    <h4 class="separator">Adresse</h4>

    <label for="user_street">Adresse<span class="labeltip"></span></label>
    <input type="text" name="user[street]" id="user_street" value="<%= @me.street %>" />

    <label for="user_postal_code">Code postal<span class="labeltip"></span></label>
    <input type="text" name="user[postal_code]" id="user_postal_code" value="<%= @me.postal_code %>" />

    <label for="user_l">Ville<span class="labeltip"></span></label>
    <input type="text" name="user[l]" id="user_l" value="<%= @me.l %>" />

    <h4 class="separator">Téléphone portable</h4>
    <% @me.mobile(true).each_with_index do |mobile, index| %>
    <label for="user_mobile_<%= index %>">N° <%= index + 1 %><span class="labeltip"></span></label>
    <input type="text" name="user[mobile][]" id="user_mobile_<%= index %>" value="<%= mobile %>" />
    <% end %>

    <h4 class="separator">Téléphone domicile</h4>
    <% @me.home_phone(true).each_with_index do |home_phone, index| %>
    <label for="user_home_phone_<%= index %>">N° <%= index + 1 %><span class="labeltip"></span></label>
    <input type="text" name="user[home_phone][]" id="user_home_phone_<%= index %>" value="<%= home_phone %>" />
    <% end %>

    <h4 class="separator">Téléphone professionnel</h4>
    <% @me.telephone_number(true).each_with_index do |telephone_number, index| %>
    <label for="user_telephone_number_<%= index %>">N° <%= index + 1 %><span class="labeltip"></span></label>
    <input type="text" name="user[telephone_number][]" id="user_telephone_number_<%= index %>" value="<%= telephone_number %>" />
    <% end %>
  </div>

  <div class="niceform">
    <h3>Licence FFCK</h3>
    <p>En cas de changement d'adresse, de numéro de téléphone, etc, pensez à mettre à jour vos informations !</p>

    <label for="user_ffck_number">Numéro<span class="labeltip">de licence</span></label>
    <input type="text" name="user[ffck_number]" id="user_ffck_number" value="<%= @me.ffck_number %>" readonly />

    <label for="user_ffck_number_year">Année<span class="labeltip"></span></label>
    <input type="text" name="user[ffck_number_year]" id="user_ffck_number_year" value="<%= @me.ffck_number_year %>" readonly />
  </div>

  <div class="spacer"></div>

  <div class="niceform" style="margin: 10px auto; float: none;">
    <button type="submit">Envoyer !</button>
    <div class="spacer"></div>
  </div>
</form>

