<%
  @title = "Statistiques"
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/stats', @title]]
%>

<div id="contentfull">

<h2>Statistiques adhérents</h2>

<h3>Mairie Joinville-le-pont</h3>

<table class="fullwidth nicetable">
  <thead>
    <tr>
      <th>Age</th>
      <th>Joinvillais</th>
      <th>Non-joinvillais</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% [[0,12],[12,18],[18,25],[25,40],[40,999],[0,999]].each do |low,high| %>
      <% selected_users = @users.select{|u| u.age > low && u.age <= high} %>
      <tr>
        <th><%= "#{low} &lt; x &lt;= #{high}" %></th>
        <td><%= selected_users.select{|u| u.postal_code == "94340"}.size.to_s %></td>
        <td><%= selected_users.select{|u| u.postal_code != "94340"}.size.to_s %></td>
        <td><%= selected_users.size.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>CNDS</h3>

<table class="fullwidth nicetable">
  <thead>
    <tr>
      <th>Age</th>
      <th>Hommes</th>
      <th>Femmes</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% [[0,18],[18,999],[0,999]].each do |low,high| %>
      <% selected_users = @users.select{|u| u.age > low && u.age <= high} %>
      <tr>
        <th><%= "#{low} &lt; x &lt;= #{high}" %></th>
        <td><%= selected_users.select{|u| u.male?}.size.to_s %></td>
        <td><%= selected_users.select{|u| u.female?}.size.to_s %></td>
        <td><%= selected_users.size.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Catégorie FFCK</h3>

<table class="fullwidth nicetable">
  <thead>
    <tr>
      <th>Catégorie</th>
      <th>Hommes</th>
      <th>Femmes</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% ffck_categories.push('').each do |cat| %>
      <% selected_users = @users.select{|u| u.ffck_category.include?(cat) rescue false } %>
      <tr>
        <th><%= cat %></th>
        <td><%= selected_users.select{|u| u.male?}.size.to_s %></td>
        <td><%= selected_users.select{|u| u.female?}.size.to_s %></td>
        <td><%= selected_users.size.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Répartition par catégorie</h3>

<div id="repartition_par_categorie">
  <img src="/images/icons/load.gif" alt="Chargement en cours..." />&nbsp;Chargement en cours...
</div>

<h3>Répartition par age</h3>

<div id="repartition_par_age">
  <img src="/images/icons/load.gif" alt="Chargement en cours..." />&nbsp;Chargement en cours...
</div>

<hr class="clear" />
</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  google.load('visualization', '1', {'packages':['piechart','scatterchart'], 'callback': function() {
    $.getJSON('/admin/stats/data/ffck_category_repartition.json', function(data) {
      var dataTable = new google.visualization.DataTable(data);
      var chart = new google.visualization.PieChart(document.getElementById('repartition_par_categorie'));
      chart.draw(dataTable, {width: 400, height: 240, is3D: true});
    });
    $.getJSON('/admin/stats/data/age_repartition.json', function(data) {
      var dataTable = new google.visualization.DataTable(data);
      var chart = new google.visualization.ScatterChart(document.getElementById('repartition_par_age'));
      chart.draw(dataTable, {width: 900, height: 300, titleX: 'Age', titleY: 'Adhérents', legend: 'none', pointSize: 5});
    });
  }});
});
//]]>
</script>

