<%
  @title = @user.name
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/users', 'Adhérents'], ["/admin/user/#{@user.uid}", @title]]
%>

<h2><%= @user.name %></h2>

<dl>
  <dt>Nom</dt>
  <dd><%= @user.name %></dd>
</dl>

<dl>
  <dt>Fonction</dt>
  <dd><%= @user.title %></dd>
</dl>

<dl>
  <dt>Anniversaire</dt>
  <dd><%= birth_date(@user.birth_date) %></dd>
</dl>

<ul>
<% if prev_user(@user.uid) %><li><a href="/admin/user/<%= prev_user(@user.uid) %>"><%= prev_user(@user.uid) %></a></li><% end %>
<% if next_user(@user.uid) %><li><a href="/admin/user/<%= next_user(@user.uid) %>"><%= next_user(@user.uid) %></a></li><% end %>
</ul>



