<%
  @title = "Nouvelles cotisations #{@year}"
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/subscriptions', 'Cotisations'],\
                 ["/admin/subscriptions/#{@year}", @year], ["/admin/subscriptions/#{@year}/#{@state}", 'Nouvelles']]
%>

<div id="contentfull">

<h2>Admin - <%= @title %></h2>

<h3><%= @subscriptions.count %> nouvelles cotisations - en attente de paiement</h3>

<% if @subscriptions.count > 0 %>
  <form method="post" action="/admin/subscriptions">
    <table class="fullwidth nicetable">
      <thead>
        <tr>
          <th>Adhérent</th>
          <th>Date de<br />création</th>
          <th>Dernière<br />modif</th>
          <th>Prix</th>
          <th>Type de<br />paiement</th>
          <th>Date de<br />paiement</th>
          <th>Commentaire<br />sur le paiement</th>
          <th>MAJ</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |s| %>
          <tr>
            <th>
              <a href="/user/<%= s.user.uid %>" title="<%= s.user.name %>">
                <img src="<%= s.user.avatar_url(48) %>" alt="<%= s.user.name %>" title="<%= s.user.name %>" /><br />
                <strong><%= s.user.display_name %></strong>
              </a>
            </th>
            <td><%= s.created_at.getlocal.strftime "%d/%m/%Y<br />%H:%M" %></td>
            <td><%= s.updated_at.getlocal.strftime "%d/%m/%Y<br />%H:%M" %></td>
            <td><input type="text" name="subscriptions[][payment][amount]" value="" size="5" /></td>
            <td><input type="text" name="subscriptions[][payment][type]" value="chèque" size="10" /></td>
            <td><input type="text" name="subscriptions[][payment][date]" value="<%= Date.today.strftime '%d/%m/%Y' %>" size="10" /></td>
            <td><textarea name="subscriptions[][payment][comment]" rows="3" cols="20"></textarea></td>
            <td>
              <input type="checkbox" name="subscriptions[][update]" />
              <input type="hidden" name="subscriptions[][id]" value="<%= s.id.to_s %>" />
              <input type="hidden" name="subscriptions[][event]" value="pay" />
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="7"></td>
          <td><button type="submit">GO</button></td>
        </tr>
      </tbody>
    </table>
  </form>
<% end %>

<hr class="clear" />
</div>

