<%
  @title = "Adhérents"
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/users', @title]]
%>

<h2>Admin - Adhérents</h2>

<div class="niceform">
  <form method="post">
    <label for="filter">Recherche<span class="labeltip">Filtre LDAP</span></label>
    <input type="text" name="filter" value="" />
    <button type="submit">Envoyer !</button>
    <div class="spacer"></div>
  </form>
</div>

<h3>Résultats</h3>

<% if @filter %>
  <p>Liste des <strong><%= @users.size %></strong> utilisateurs qui matchent la requête <strong><%= @filter %></strong> :</p>
<% else %>
  <p>Liste complètes des <strong><%= @users.size %></strong> utilisateurs :</p>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#users').dataTable( {
      "bJQueryUI": true,
      "bAutoWidth": false,
      "sPaginationType": "full_numbers",
      "iDisplayLength": 50
    } );
  } );
</script>

<table id="users" class="fullwidth">
  <thead>
    <tr>
      <th>uid</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Code postal</th>
      <th>Sexe</th>
      <th>Date naiss.</th>
      <th>Age</th>
      <th>Catégorie</th>
      <th>Licence</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><a href="/admin/user/<%= u.uid %>"><%= u.uid %></a></td>
        <td><%= u.firstname %></td>
        <td><%= u.lastname %></td>
        <td><%= u.postal_code %></td>
        <td><%= u.male? ? "Homme" : "Femme" %></td>
        <td><%= birth_date(u.birth_date) %></td>
        <td><%= u.age %></td>
        <td><%= u.ffck_category %></td>
        <td><%= u.ffck_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>


