<%
  @title = "Cotisations envoyées #{@year}"
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/subscriptions', 'Cotisations'],\
                 ["/admin/subscriptions/#{@year}", @year], ["/admin/subscriptions/#{@year}/#{@state}", 'Envoyées']]
%>

<div id="contentfull">

<h2>Admin - <%= @title %></h2>

<h3><%= @subscriptions.count %> cotisations envoyées</h3>

<% if @subscriptions.count > 0 %>
  <table class="fullwidth nicetable">
    <thead>
      <tr>
        <th>Adhérent</th>
        <th>Date de<br />création</th>
        <th>Dernière<br />modif</th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |s| %>
        <tr>
          <th>
            <a href="/admin/subscription/<%= s.user.uid %>-<%= s.year %>" title="Voir en détails la demande de cotisation de <%= s.user.display_name %>">
              <strong><%= s.user.firstname %><br /><%= s.user.lastname %></strong>
            </a>
          </th>
          <td><%= s.created_at.getlocal.strftime "%d/%m/%Y<br />%H:%M" %></td>
          <td><%= s.updated_at.getlocal.strftime "%d/%m/%Y<br />%H:%M" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr class="clear" />
</div>

