<%
  @title = "Utilisateurs"
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/users', @title]]
%>

<h2>Admin - Utilisateurs</h2>

<div class="ldap_search" style="width: 700px;">
  <form method="post">
    <div class="simpleform">
      <label for="filter">Recherche<span class="labeltip">via un filtre LDAP</span></label>
      <textarea name="filter" id="filter" rows="3" cols="70"></textarea>
      <button type="submit">Rechercher !</button>
    </div>
  </form>
</div>

<h3>Résultats</h3>

<% if @filter %>
  <p>Liste des <strong><%= @users.size %></strong> utilisateurs qui matchent la requête <strong><%= @filter %></strong> :</p>
<% else %>
  <p>Liste complètes des <strong><%= @users.size %></strong> utilisateurs :</p>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#users').dataTable( {
      "bJQueryUI": true,
      "bAutoWidth": false,
      "sPaginationType": "full_numbers",
      "iDisplayLength": 50,
      "oLanguage": {
        "oPaginate": {
          "sFirst": "Début",
          "sLast": "Fin",
          "sPrevious": "Précédent",
          "sNext": "Suivant"
        },
        "sInfo": "Utilisateurs _START_ à _END_ (sur _TOTAL_)",
        "sInfoEmpty": "Aucun utilisateur à afficher",
        "sInfoFiltered": " - Nombre total d'utilisateurs : _MAX_",
        "sLengthMenu": 'Afficher <select>' +
                       '<option value="20">20</option>' +
                       '<option value="50">50</option>' +
                       '<option value="100">100</option>' +
                       '<option value="-1">Tous</option>' +
                       '</select> utilisateurs',
        "sProcessing": "Veuillez patienter...",
        "sSearch": "Rechercher :",
        "sZeroRecords": "Aucun utilisateur à afficher"
      }
    } );
  } );
</script>

<table id="users" class="fullwidth">
  <thead>
    <tr>
      <th>uid</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Ville</th>
      <th>Date naiss.</th>
      <th>Age</th>
      <th>Catégorie</th>
      <th>Licence</th>
      <th>Sexe</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><a href="/admin/user/<%= u.uid %>"><%= u.uid %></a></td>
        <td><%= u.firstname %></td>
        <td><%= u.lastname %></td>
        <td><span title="<%= u.l %>"><%= u.postal_code %></span></td>
        <td><%= birth_date(u.birth_date) %></td>
        <td><%= u.age %></td>
        <td><%= u.ffck_category %></td>
        <td><%= u.ffck_number %></td>
        <td><img src="/images/icons/gender_<%= u.gender %>.png" alt="<%= u.male? ? 'Homme' : 'Femme' %>" /></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Export</h3>

<ul>
<li><a href="/admin/users.csv">Exporter tous les utilisateurs au format CSV (= excel)</a></li>
</ul>

