<%
  @title = @user.name
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/users', 'Utilisateurs'], ["/admin/user/#{@user.uid}", @title]]
%>

<% if prev_user(@user.uid) || next_user(@user.uid) %>
  <div id="extra-nav">
      <% if prev_user(@user.uid) %>
        <a href="/admin/user/<%= prev_user(@user.uid) %>"><< <%= prev_user(@user.uid) %> </a>
      <% end %>
      <%= ' | ' if prev_user(@user.uid) && next_user(@user.uid) %>
      <% if next_user(@user.uid) %>
        <a href="/admin/user/<%= next_user(@user.uid) %>"><%= next_user(@user.uid) %> >></a>
      <% end %>
  </div>
<% end %>

<div id="contentfull">

<h2><%= @user.name %></h2>

<dl>
  <dt>Nom</dt>
  <dd><%= @user.name %></dd>
</dl>

<dl>
  <dt>Fonction</dt>
  <dd><%= @user.title %></dd>
</dl>

<dl>
  <dt>Anniversaire</dt>
  <dd><%= birth_date(@user.birth_date) %></dd>
</dl>

<hr class="clear" />
</div>

