<%
  @title = "Cotisations payées #{@year}"
  @breadcrumb = [['/', 'Accueil'], ['/admin', 'Admin'], ['/admin/subscriptions', 'Cotisations'],\
                 ["/admin/subscriptions/#{@year}", @year], ["/admin/subscriptions/#{@year}/#{@state}", 'Payées']]
%>

<div id="contentfull">

<h2>Admin - <%= @title %></h2>

<h3><%= @subscriptions.count %> cotisations payées - en attente de saisie FFCK</h3>

<% if @subscriptions.count > 0 %>
  <form method="post" action="/admin/subscriptions">
    <table class="fullwidth nicetable">
      <thead>
        <tr>
          <th>Adhérent</th>
          <th>Date de<br />création</th>
          <th>Dernière<br />modif</th>
          <th>Licence<br />FFCK</th>
          <th>Certif.<br />Type</th>
          <th>Certif.<br />Date</th>
          <th>Commentaire</th>
          <th>MAJ</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |s| %>
          <tr>
            <th>
              <a href="/admin/subscription/<%= s.user.uid %>-<%= s.year %>" title="Voir en détails la demande de cotisation de <%= s.user.display_name %>">
                <strong><%= s.user.firstname %><br /><%= s.user.lastname %></strong>
              </a>
            </th>
            <td><%= s.created_at.getlocal.strftime "%d/%m/%Y<br />%H:%M" %></td>
            <td><%= s.updated_at.getlocal.strftime "%d/%m/%Y<br />%H:%M" %></td>
            <td><input type="text" name="subscriptions[][ffck_number]" value="<%= s.user.ffck_number %>" size="5" /></td>
            <td><input type="text" name="subscriptions[][medical_certificate_type]" value="<%= s.medical_certificate_type %>" size="8" /></td>
            <td><input type="text" name="subscriptions[][medical_certificate_date]" value="<%= s.medical_certificate_date.strftime '%d/%m/%Y' rescue nil %>" size="8" class="input_date" /></td>
            <td><textarea name="subscriptions[][comment]" rows="2" cols="20"></textarea></td>
            <td>
              <input type="checkbox" name="subscriptions[][update]" />
              <input type="hidden" name="subscriptions[][id]" value="<%= s.id.to_s %>" />
              <input type="hidden" name="subscriptions[][event]" value="key_in" />
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="7"></td>
          <td><button type="submit">GO</button></td>
        </tr>
      </tbody>
    </table>
  </form>
<% end %>

<hr class="clear" />
</div>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $(".input_date").datepicker({
      dateFormat:'dd/mm/yy',
      changeMonth:true, changeYear:true, yearRange:'<%= Date.today.year - 1 %>:<%= Date.today.year + 1 %>',
      closeText:'X', currentText:'Aujourd\'hui'
    });
  });
  //]]>
</script>

