<%
  @title = "Modification de l'évènement '#{@event.title}'"
  @breadcrumb = [['/', 'Accueil'], ['/events', 'Evènements'], ["/event/#{@event.slug}", @event.title], ["/event/#{@event.slug}/edit", @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<% if @event.passed? %>
  <div class="msgbox msginfo">Cet évènement est déjà passé...</div>
<% elsif @event.occurring? %>
  <div class="msgbox msgwarning">Cet évènement est en train de se dérouler en ce moment...</div>
<% end %>

<form id="event" method="post" action="/event/<%= @event.slug %>">
  <div class="largeform">
    <label for="event_title">Titre<span class="labeltip">de l'évènement</span></label>
    <input type="text" name="event[title]" id="event_title" value="<%= @event.title %>" />

    <label for="event_slug">Slug<span class="labeltip">qui apparaît dans l'url</span></label>
    <input type="text" name="event[slug]" id="event_slug" value="<%= @event.slug %>" readonly="readonly" />

    <label for="event_creator">Créé par<span class="labeltip"></span></label>
    <input type="text" name="event[creator]" id="event_creator" value="<%= @event.creator.name %>" readonly="readonly" />

    <label for="event_r1">Responsable<span class="labeltip">R1 de l'évènement</span></label>
    <input type="text" name="event[r1]" id="event_r1" value="<%= @event.r1.name %>" />

    <label for="event_start_fr">Date de début<span class="labeltip">format jj/mm/aaaa</span></label>
    <input type="text" name="event[start_fr]" id="event_start_fr" value="<%= @event.start.getlocal.strftime('%d/%m/%Y') rescue '' %>" />
    <input type="hidden" name="event[start]" id="event_start" value="<%= @event.start.getlocal.strftime('%Y-%m-%d') rescue '' %>" />
    <script type="text/javascript">
      //<![CDATA[
      $(document).ready(function(){
        $('#event_start_fr').datepicker({
          altField: '#event_start', altFormat: 'yy-mm-dd',
          changeMonth: true, changeYear: true, yearRange:'<%= Date.today.year - 5 %>:<%= Date.today.year + 5 %>',
          showButtonPanel: true, closeText: 'X', showOn: 'both',
          buttonImage: '/images/icons/calendar.gif', buttonImageOnly: true,
          buttonText: 'Calendrier', currentText: 'Aujourd\'hui',
          onSelect: function(selectedDate) {
            var instance = $(this).data('datepicker');
            var date = $.datepicker.parseDate($.datepicker._defaults.dateFormat, selectedDate, instance.settings);
            $('#event_end_fr').datepicker('option', 'minDate', date);
          }
        });
      });
      //]]>
    </script>

    <label for="event_start_time">Heure de début (optionnel)<span class="labeltip">format hh:mm</span></label>
    <input type="text" name="event[start_time]" id="event_start_time" value="<%= @event.start.getlocal.strftime('%H:%M') unless @event.start.getlocal.strftime('%X') == '00:00:00' %>" />

    <label for="event_end_fr">Date de fin<span class="labeltip">format jj/mm/aaaa</span></label>
    <input type="text" name="event[end_fr]" id="event_end_fr" value="<%= @event.end.getlocal.strftime('%d/%m/%Y') rescue '' %>" />
    <input type="hidden" name="event[end]" id="event_end" value="<%= @event.end.getlocal.strftime('%Y-%m-%d') rescue '' %>" />
    <script type="text/javascript">
      //<![CDATA[
      $(document).ready(function(){
        $('#event_end_fr').datepicker({
          altField: '#event_end', altFormat: 'yy-mm-dd',
          changeMonth: true, changeYear: true, yearRange:'<%= Date.today.year - 5 %>:<%= Date.today.year + 5 %>',
          showButtonPanel: true, closeText: 'X', showOn: 'both',
          buttonImage: '/images/icons/calendar.gif', buttonImageOnly: true,
          buttonText: 'Calendrier', currentText: 'Aujourd\'hui',
          onSelect: function(selectedDate) {
            var instance = $(this).data('datepicker');
            var date = $.datepicker.parseDate($.datepicker._defaults.dateFormat, selectedDate, instance.settings);
            $('#event_start_fr').datepicker('option', 'maxDate', date);
          }
        });
      });
      //]]>
    </script>

    <label for="event_end_time">Heure de fin (optionnel)<span class="labeltip">format hh:mm</span></label>
    <input type="text" name="event[end_time]" id="event_end_time" value="<%= @event.end.getlocal.strftime('%H:%M') unless @event.end.getlocal.strftime('%X') == '23:59:59' %>" />

    <label for="event_text">Texte<span class="labeltip">Description complète</span></label>
    <textarea name="event[text]" id="event_text" rows="10" cols="30"><%= @event.text %></textarea>

    <label for="event_closed">Inscriptions fermées ?<span class="labeltip">Cocher pour fermer les inscriptions</span></label>
    <input type="checkbox" name="event[closed]" id="event_closed" <%= "checked=\"checked\"" if @event.closed? %> />

    <label for="event_created_at">Date de création<span class="labeltip"></span></label>
    <input type="text" name="event[created_at]" id="event_created_at" value="<%= @event.created_at.getlocal.strftime('%A %d %B %Y à %Hh%M') %>" readonly="readonly" />

    <label for="event_updated_at">Date de dernière modification<span class="labeltip"></span></label>
    <input type="text" name="event[updated_at]" id="event_updated_at" value="<%= @event.updated_at.getlocal.strftime('%A %d %B %Y à %Hh%M') %>" readonly="readonly" />

    <button type="submit">Modifier !</button>
    <div class="spacer"></div>
  </div>
</form>

<hr class="clear" />
</div>

