<% 
  @title = case @type
    when 'passed'; 'Evènements passés'
    when 'occurring'; 'Evènements en cours'
    when 'future'; 'Evènements à venir'
  end
  @breadcrumb = [['/', 'Accueil'], ['/events', 'Evènements'], ["/events/#{@type}", @title]]
  @full_width = false
%>

<h2><%= @title %></h2>

<ol class="events">
<% @events.each do |event| %>
  <li class="event">
    <span class="content">
      <span class="event-id"><%= event.id.to_s %></span>
      <span class="r1-uid"><%= event.r1_uid %></span>
      <span class="creator-uid"><%= event.creator_uid %></span>
      <span class="title"><a href="/event/<%= event.slug %>"><%= event.title %></a></span>
      <span class="text"><%= linkify(event.text) %></span>
      <span class="participations">
        <%= event.participations_for(Participation::Status::PRESENT).count %> participants
      </span>
      <span class="date"><%= duration_date(event.start, event.end) %></span>
    </span>
  </li>
<% end %>
</ol>

<ul class="pagination">
  <% if(@page > 1) %>
    <li class="previous"><a href="/events/<%= @type %>/<%= @page>2 ? "/#{@page-1}" : '' %>">« précédent</a></li>
  <% else %>
    <li class="previous-off">« précédent</li>
  <% end %>
  <% pagination(@page, options.events_per_page, @pages).each do |p| %>
    <% if(@page == p) %>
      <li class="active"><%= p %></li>
    <% else %>
      <li><a href="/events/<%= @type %>/<%= p>1 ? "/#{p}" : '' %>"><%= p %></a></li>
    <% end %>
  <% end %>
  <% if(@page < @pages) %>
    <li class="next"><a href="/events/<%= @type %>/<%= (@page+1).to_s %>">suivant - <%= @pages %> pages »</a></li>
  <% else %>
    <li class="next-off">suivant »</li>
  <% end %>
</ul>

