<% 
  @title = "Accueil"
  @breadcrumb = [['/', @title]]
  @full_width = false
%>

<h2>Bienvenue sur l'intranet de JEV !</h2>

<h3>Derniers messages :</h3>

<div class="new_post">
  <form id="post" name="post" method="post" action="/posts">
    <div class="simpleform">
      <label for="text">Un message à faire passer ?</label>
      <textarea name="text" id="text" rows="3" cols="70"></textarea>
      <button type="submit">Envoyer !</button>
    </div>
  </form>
</div>

<ol class="posts">
<% @posts.each do |post| %>
  <li class="post">
    <span class="icon">
      <img src="<%= gravatar_for(post.user.mail(true).first, 48) %>" />
    </span>
    <span class="content">
      <span class="user"><%= post.user.display_name %></span>
      <span class="text"><%= linkify(post.text) %></span>
      <span class="date"><%= post.created_at.getlocal.strftime "%A %d %B %Y à %Hh%M" %></span>
    </span>
  </li>
<% end %>
</ol>

<span class="pagination">
Page <strong><%= @page %></strong> sur <strong><%= @pages %></strong>
</span>

<% if @page > 1 %>
<a href="/posts/<%= (@page - 1) %>">messages plus récents</a>
<% end %>

<% if @page.between?(2,@pages-1) %>
 | 
<% end %>

<% if @page < @pages %>
<a href="/posts/<%= (@page + 1) %>">messages plus anciens</a>
<% end %>

