<% 
  @title = "Accueil"
  @breadcrumb = [['/', @title]]
  @full_width = false
%>

<h2>Bienvenue sur l'intranet de JEV !</h2>

<h3>Derniers messages :</h3>

<ol class="posts" style="list-style: none; margin:0;padding:0;">
<% @posts.each do |post| %>
  <li class="post" style="border-bottom: 1px solid #EEE; line-height: 16px; padding: 10px 0px 8px; margin:0; display: list-item;">
    <span class="icon" style="display: block; height:50px; width:50px; margin: 0 10px 0 0; overflow: hidden; position: absolute; ">
      <img src="<%= gravatar_for(post.user.mail(true).first, 48) %>" />
    </span>
    <span class="content" style="overflow:visible;display:block;margin-left:56px;min-height:46px;">
      <span class="user" style="font-weight:bolder;font-size:14px;margin-right:5px;"><%= post.user.display_name %></span>
      <span class="text" style=""><%= linkify(post.text) %></span>
      <span class="date" style="display:block;color:#999;margin-top:2px;"><%= post.created_at.getlocal.strftime "%A %d %B %Y à %Hh%M" %></span>
    </span>
  </li>
<% end %>
</ol>

<span class="pagination">
Page <strong><%= @page %></strong> sur <strong><%= @pages %></strong>
</span>

<% if @page > 1 %>
<a href="/posts/<%= (@page - 1) %>">messages plus récents</a>
<% end %>

<% if @page.between?(2,@pages-1) %>
 | 
<% end %>

<% if @page < @pages %>
<a href="/posts/<%= (@page + 1) %>">messages plus anciens</a>
<% end %>

