<% 
  @title = "Top #{options.most_active_participants_on_page} des adhérents qui participent le plus"
  @breadcrumb = [['/', 'Accueil'], ['/events', 'Evènements'], ['/events/most-active-participants', @title]]
%>

<div id="content">

<h2><%= @title %></h2>

<ol class="posts">
<% @most_active_participants.each do |most_active_participant| %>
  <li class="post">
    <span class="icon">
      <a href="/user/<%= most_active_participant[:user].uid %>">
        <img src="<%= most_active_participant[:user].avatar_url(48) %>" alt="<%= most_active_participant[:user].display_name %>" title="<%= most_active_participant[:user].display_name %>" />
      </a>
    </span>
    <span class="content">
      <span class="user"><%= most_active_participant[:user].display_name %></span>
      <span class="text">
        <a href="/events/participations/<%= most_active_participant[:user].uid %>" title="Voir toutes les participations de <%= most_active_participant[:user].display_name %>">
          <%= most_active_participant[:count] %> participation<%= 's' if most_active_participant[:count] > 1 %>
        </a>
      </span>
      <span class="date"><%= participant_level(most_active_participant[:count], @most_active_participants.first[:count]) %></span>
    </span>
  </li>
<% end %>
</ol>

<hr class="clear" />
</div>

<div class="sidebox">
  <h2>Evènements</h2>
  <ul class="sidemenu">
    <li class="first"><a href="/events/passed">Passés</a></li>
    <li class=""><a href="/events/occurring">En cours</a></li>
    <li class=""><a href="/events/future">A venir</a></li>
    <li class="more"><a href="/events/new">Créer un nouvel évènement</a></li>
  </ul>
</div>

<div class="sidebox">
  <h2>Participations</h2>
  <ul class="sidemenu">
    <li class="first"><a href="/events/participations/mine">Mes participations</a></li>
    <li class="current"><a href="/events/most-active-participants">Top <%= options.most_active_participants_on_page %> des participants</a></li>
  </ul>
</div>

