<% 
  @title = "Participations de #{@user.display_name}"
  @breadcrumb = [['/', 'Accueil'], ['/events', 'Evènements'], ["/events/participations/#{@user.uid}", @title]]
%>

<div id="content">

<h2><%= @title %></h2>

<ol class="events">
<% @events.each do |event| %>
  <li class="event">
    <span class="content">
      <span class="title"><a href="/event/<%= event.slug %>"><%= event.title %></a></span>
      <span class="text"><%= linkify(event.text) %></span>
      <span class="participations">
        <% participants = event.participations_for(Participation::Status::PRESENT).count %>
        <%= participants %> participant<%= 's' unless participants == 1 %>
      </span>
      <span class="date"><%= duration_date(event.start, event.end) %></span>
    </span>
  </li>
<% end %>
</ol>

<ul class="pagination">
  <% if(@page > 1) %>
    <li class="previous"><a href="/events/<%= @type %>/<%= @page>2 ? "/#{@page-1}" : '' %>">« précédent</a></li>
  <% else %>
    <li class="previous-off">« précédent</li>
  <% end %>
  <% pagination(@page, options.events_per_page, @pages).each do |p| %>
    <% if(@page == p) %>
      <li class="active"><%= p %></li>
    <% else %>
      <li><a href="/events/<%= @type %>/<%= p>1 ? "/#{p}" : '' %>"><%= p %></a></li>
    <% end %>
  <% end %>
  <% if(@page < @pages) %>
    <li class="next"><a href="/events/<%= @type %>/<%= (@page+1).to_s %>">suivant - <%= @pages %> pages »</a></li>
  <% else %>
    <li class="next-off">suivant »</li>
  <% end %>
</ul>

<hr class="clear" />
</div>

<div class="sidebox">
  <h2>Evènements</h2>
  <ul class="sidemenu">
    <li class="first"><a href="/events/passed">Passés</a></li>
    <li class=""><a href="/events/occurring">En cours</a></li>
    <li class=""><a href="/events/future">A venir</a></li>
    <li class="more"><a href="/events/new">Créer un nouvel évènement</a></li>
  </ul>
</div>

<div class="sidebox">
  <h2>Participations</h2>
  <ul class="sidemenu">
    <li class="first"><a href="/events/participations/mine">Mes participations</a></li>
    <li class=""><a href="/events/most-active-participants">Top <%= options.most_active_participants_on_page %> des participants</a></li>
  </ul>
</div>

<script type="text/javascript">
  //<![CDATA[
  $('#intranet').bind('current_user-loaded', function(e) {
    if(Intranet.current_user.uid == '<%= @user.uid %>') {
      $('div.sidebox ul.sidemenu li.first').last().addClass('current');
    }
  });
  //]]>
</script>

