<% 
  @title = "Participations de #{@user.display_name}"
  @breadcrumb = [['/', 'Accueil'], ['/events', 'Evènements'], ["/events/participations/#{@user.uid}", @title]]
%>

<div id="content">

<h2><%= @title %></h2>

<ol class="events">
<% @events.each do |event| %>
  <li class="event">
    <span class="content">
      <span class="title"><a href="/event/<%= event.slug %>"><%= event.title %></a></span>
      <span class="text"><%= linkify(event.text) %></span>
      <span class="participations">
        <% participants = event.participations_for(Participation::Status::PRESENT).count %>
        <%= participants %> participant<%= 's' unless participants == 1 %>
      </span>
      <span class="date"><%= duration_date(event.start, event.end) %></span>
    </span>
  </li>
<% end %>
</ol>

<ul class="pagination">
  <% if(@page > 1) %>
    <li class="previous"><a href="/events/<%= @type %>/<%= @page>2 ? "/#{@page-1}" : '' %>">« précédent</a></li>
  <% else %>
    <li class="previous-off">« précédent</li>
  <% end %>
  <% pagination(@page, options.events_per_page, @pages).each do |p| %>
    <% if(@page == p) %>
      <li class="active"><%= p %></li>
    <% else %>
      <li><a href="/events/<%= @type %>/<%= p>1 ? "/#{p}" : '' %>"><%= p %></a></li>
    <% end %>
  <% end %>
  <% if(@page < @pages) %>
    <li class="next"><a href="/events/<%= @type %>/<%= (@page+1).to_s %>">suivant - <%= @pages %> pages »</a></li>
  <% else %>
    <li class="next-off">suivant »</li>
  <% end %>
</ul>

<hr class="clear" />
</div>

<%= erb :sidebox_event, :layout => false %>

