<% 
  @title = "Top #{options.posts_most_active_users_page} des adhérents les plus bavards"
  @breadcrumb = [['/', 'Accueil'], ['/posts', 'Messages'], ['/posts/most-active-users', @title]]
%>

<div id="content">

<h2><%= @title %></h2>

<ol class="posts">
<% @most_active_users.each do |most_active_user| %>
  <li class="post">
    <span class="icon">
      <a href="/user/<%= most_active_user[:user].uid %>">
        <img src="<%= most_active_user[:user].avatar_url(48) %>" alt="<%= most_active_user[:user].display_name %>" title="<%= most_active_user[:user].display_name %>" />
      </a>
    </span>
    <span class="content">
      <span class="user"><%= most_active_user[:user].display_name %></span>
      <span class="text">
        <%= most_active_user[:count] %> message<%= 's' if most_active_user[:count] > 1 %>
        <a class="extra-link" href="/posts/<%= most_active_user[:user].uid %>">Voir tous les messages de <%= most_active_user[:user].display_name %></a>
      </span>
      <span class="date"><%= poster_level(most_active_user[:count], @most_active_users.first[:count]) %></span>
    </span>
  </li>
<% end %>
</ol>

<hr class="clear" />
</div>

