<% 
  @title = "Messages"
  @breadcrumb = [['/', 'Accueil'], ['/posts', @title]]
  @full_width = false
%>

<h2>Derniers messages</h2>

<div class="new_post">
  <form id="post" method="post" action="/posts">
    <div class="simpleform">
      <label for="text">Un message à faire passer ?</label>
      <textarea name="text" id="text" rows="3" cols="70"></textarea>
      <button type="submit">Envoyer !</button>
    </div>
  </form>
</div>

<ol class="posts">
<% @posts.each do |post| %>
  <li class="post">
    <span class="icon">
      <a href="/user/<%= post.user.uid %>">
        <img src="<%= post.user.avatar_url(48) %>" alt="<%= post.user.display_name %>" title="<%= post.user.display_name %>" />
      </a>
    </span>
    <span class="content">
      <span class="post-id"><%= post.id.to_s %></span>
      <span class="user-id"><%= post.user.uid %></span>
      <span class="user"><%= post.user.display_name %></span>
      <span class="text"><%= linkify(post.text) %></span>
      <span class="date"><%= post.created_at.getlocal.strftime "%A %d %B %Y à %Hh%M" %></span>
    </span>
    <span class="actions hide">
      <span class="remove-post"><img src="/images/icons/trash.png" alt="supprimer" title="Supprimer ce message !" /></span>
    </span>
  </li>
<% end %>
</ol>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready( function() {
    $('.post').delegate(".remove-post", "click", function() {
      if(confirm('Etes vous sur de vouloir supprimer ce message ?')) {
        var post_id = $(this).parentsUntil('.posts').find('.post-id').html();
        var post_elem = $(this).parentsUntil('.posts');
        $.post('/post/'+post_id, {_method:"delete"}, function(data) {
          if(post_elem != null) { post_elem.remove(); }
        });
      }
    });
  });
  $('#intranet').bind('current_user-loaded', function(e) {
    $('.user-id').each( function(i) {
      if (Intranet.current_user.uid == $(this).text() || Intranet.current_user.is_admin) {
        $(this).parentsUntil('.posts').find('.actions').removeClass('hide');
      }
    });
  });
  $('#intranet').ajaxError(function(e, xhr, options, error) {
    if(options.url.indexOf("/post/") >= 0) {
      if(xhr.status == 403) {
        alert("Désolé, vous n'avez pas le droit d'effectuer cette opération...");
      } else if(xhr.status == 404) {
        alert("Ce message n'existe pas...");
      } else {
        alert("Une erreur est survenue : " + xhr.status + " - " + xhr.statusText);
      }
    }
  });
  //]]>
</script>

<ul class="pagination">
  <% if(@page > 1) %>
    <li class="previous"><a href="/posts/<%= @user + (@page>2 ? "/#{@page-1}" : '') %>">« plus récents</a></li>
  <% else %>
    <li class="previous-off">« plus récents</li>
  <% end %>
  <% pagination(@page, options.posts_per_page, @pages).each do |p| %>
    <% if(@page == p) %>
      <li class="active"><%= p %></li>
    <% else %>
      <li><a href="/posts/<%= @user + (p>1 ? "/#{p}" : '') %>"><%= p %></a></li>
    <% end %>
  <% end %>
  <% if(@page < @pages) %>
    <li class="next"><a href="/posts/<%= @user + '/' + (@page+1).to_s %>">plus anciens - <%= @pages %> pages »</a></li>
  <% else %>
    <li class="next-off">plus anciens »</li>
  <% end %>
</ul>

