<% 
  @title = "Messages"
  @breadcrumb = [['/', 'Accueil'], ['/posts', @title]]
  @full_width = false
%>

<h2>Derniers messages</h2>

<div class="new_post">
  <form id="post" name="post" method="post" action="/posts">
    <div class="simpleform">
      <label for="text">Un message à faire passer ?</label>
      <textarea name="text" id="text" rows="3" cols="70"></textarea>
      <button type="submit">Envoyer !</button>
    </div>
  </form>
</div>

<ol class="posts">
<% @posts.each do |post| %>
  <li class="post">
    <span class="icon">
      <img src="<%= gravatar_for(post.user.mail(true).first, 48) %>" />
    </span>
    <span class="content">
      <span class="user"><%= post.user.display_name %></span>
      <span class="text"><%= linkify(post.text) %></span>
      <span class="date"><%= post.created_at.getlocal.strftime "%A %d %B %Y à %Hh%M" %></span>
    </span>
  </li>
<% end %>
</ol>

<ul class="pagination">
  <% if(@page > 1) %>
    <li class="previous"><a href="/posts<%= (@page>2) ? "/#{@page-1}" : '' %>">« plus récents</a></li>
  <% else %>
    <li class="previous-off">« plus récents</li>
  <% end %>
  <% pagination(@page, @pages).each do |p| %>
    <% if(@page == p) %>
      <li class="active"><%= p %></li>
    <% else %>
      <li><a href="/posts<%= (p>1) ? "/#{p}" : '' %>"><%= p %></a></li>
    <% end %>
  <% end %>
  <% if(@page < @pages) %>
    <li class="next"><a href="/posts/<%= (@page+1) %>">plus anciens - <%= @pages %> pages »</a></li>
  <% else %>
    <li class="next-off">plus anciens »</li>
  <% end %>
</ul>

