<%
  translated_state = {'new' => 'Nouvelle', 'paid' => 'Payée', 'upstream' => 'Saisie FFCK', 'sent' => 'Envoyée'}
  @title = 'Mes cotisations'
  @breadcrumb = [['/', 'Accueil'], ['/subscriptions', @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<% if @subscription.editable_by_user? %>
  <h3>Cotisation <%= @subscription.year %></h3>
  <p><a href="/subscriptions/<%= @subscription.year %>">Votre demande de cotisation <%= @subscription.year %></a></p>
  <p class="clear"></p>
<% end %>

<% @subscriptions.each do |s| %>
  <h3><%= s.year %></h3>

  <dl>
    <dt>Etat</dt>
    <dd><strong><%= translated_state[s.state] %></strong></dd>
  </dl>

  <% unless s.comment.blank? %>
    <dl>
      <dt>Commentaire</dt>
      <dd><%= s.comment %></dd>
    </dl>
  <% end %>

  <dl>
    <dt>Certificat médical</dt>
    <dd><%= s.medical_certificate_type %> - <%= s.medical_certificate_date.strftime '%d/%m/%Y' rescue nil %></dd>
  </dl>

  <dl>
    <dt>Prix (théorique)</dt>
    <dd><%= s.price %> euros</dd>
  </dl>

  <% unless s.payment.nil? %>
    <% p = s.payment %>
    <dl>
      <dt>Paiement</dt>
      <dd><%= "#{p.amount.to_i} euros en #{p.type} le #{p.date.strftime('%A %d %B %Y')}" %><%= " (#{p.comment})" unless p.comment.blank? %></dd>
    </dl>
  <% end %>

  <dl>
    <dt>Date de création</dt>
    <dd><%= s.created_at.strftime 'Le %A %d %B %Y à %Hh%M' %></dd>
  </dl>

  <dl>
    <dt>Dernière modification</dt>
    <dd><%= s.updated_at.strftime 'Le %A %d %B %Y à %Hh%M' %></dd>
  </dl>

  <p class="clear"></p>
<% end %>

<hr class="clear" />
</div>

