<%
  translated_state = {'new' => 'Nouvelle (en attente de paiement)', 'paid' => 'Payée (en attente de saisie)', 'upstream' => 'Saisie FFCK', 'sent' => 'Envoyée'}
  @title = "Cotisation #{@subscription.year}"
  @breadcrumb = [['/', 'Accueil'], ['/subscriptions', 'Mes cotisations'], ["/subscriptions/#{@subscription.year}", @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<% if @subscription.editable_by_user? %>
  <p>
    Coût de votre cotisation <%= @subscription.year %> : <strong><%= @subscription.price %> euros</strong>.<br />
    <strong>Note</strong> : <span class="underline">la cotisation ne sera acceptée que lorsque le paiement aura été effectué et reçu par le trésorier.</span><br />
    Vous devrez également déposer une copie de votre certificat médical au club.
  </p>

  <form method="post" action="">
    <div class="largeform">
      <h3>Vos coordonnées</h3>
      <p>Merci de vérifier que vos coordonnées sont correctes. Si ce n'est pas le cas, <a href="/account/contact"><strong>cliquez ici pour les mettre à jour</strong></a>.</p>

      <label for="user_address">Adresse postale complète<span class="labeltip"></span></label>
      <textarea name="user[address]" id="user_address" rows="3" cols="60" readonly="readonly"><%= @subscription.user.address %></textarea>

      <label for="user_emails">Adresses e-mails<span class="labeltip"></span></label>
      <input type="text" name="user[emails]" id="user_emails" value="<%= @subscription.user.mail(true).join(', ') %>" readonly="readonly" />

      <label for="user_phones">Numéros de téléphone<span class="labeltip"></span></label>
      <input type="text" name="user[phones]" id="user_phones" value="<%= @subscription.user.mobile(true).join(', ') %>     <%= @subscription.user.home_phone(true).join(', ') %>     <%= @subscription.user.telephone_number(true).join(', ') %>" readonly="readonly" />

      <hr class="separator" />
      <h3>Demande de cotisation pour la saison <%= @subscription.year %></h3>
      <p>
        <% unless @subscription.new? %>
          Demande créée <%= local_time(@subscription.created_at).strftime('le %A %d %B %Y à %Hh%M', 'fr') %>
           - Dernière modification <%= local_time(@subscription.updated_at).strftime('le %A %d %B %Y à %Hh%M', 'fr') %>
          <br />Etat : <strong><%= translated_state[@subscription.state] %></strong>
        <% end %>
      </p>

      <label for="subscription_medical_certificate_date">Date du certificat médical<span class="labeltip">Format jj/mm/aaaa</span></label>
      <input type="text" name="subscription[medical_certificate_date]" id="subscription_medical_certificate_date" class="input_date <%= 'error' if @subscription.errors.on :medical_certificate_date %>" value="<%= @subscription.medical_certificate_date.strftime('%d/%m/%Y', 'fr') rescue '' %>" />

      <label for="subscription_medical_certificate_type_compet">Certificat médical "Compétition"<span class="labeltip">Cocher si valide pour la compétition</span></label>
      <input type="checkbox" name="subscription[medical_certificate_type_compet]" id="subscription_medical_certificate_type_compet" <%= "checked=\"checked\"" if @subscription.medical_certificate_type == 'Compétition' %> />
      <input type="hidden" name="subscription[medical_certificate_type]" id="subscription_medical_certificate_type" value="<%= @subscription.medical_certificate_type %>" />

      <hr class="separator" />

      <label for="subscription_comment">Commentaires<span class="labeltip">Facultatif</span></label>
      <textarea name="subscription[comment]" id="subscription_comment" rows="3" cols="30"><%= @subscription.comment %></textarea>

      <button type="submit"><%= @subscription.new? ? 'Valider la cotisation' : 'Modifier la cotisation' %></button>
      <div class="spacer"></div>
    </div>
  </form>
  <p class="clear"></p>
<% else %>
  <p>Votre demande de cotisation pour <strong><%= @subscription.year %></strong> n'est plus éditable.</p>
  <p>Etat actuel : <strong><%= translated_state[@subscription.state] %></strong></p>
  <p>Pour toute demande de changement, contactez nous !</p>
<% end %>

<hr class="clear" />
</div>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $(".input_date").datepicker({
      dateFormat:'dd/mm/yy',
      changeMonth:true, changeYear:true, yearRange:'<%= Date.today.year - 1 %>:<%= Date.today.year + 1 %>',
      showButtonPanel:true, closeText:'X', showOn:'both',
      buttonImage:'/images/icons/calendar.gif', buttonImageOnly:true,
      buttonText:'Calendrier', currentText:'Aujourd\'hui'
    });
    $("#subscription_medical_certificate_type_compet").change(function() {
      var type = $(this).attr('checked') ? "Compétition" : "Loisirs";
      $("#subscription_medical_certificate_type").val(type);
    }).change();
  });
  //]]>
</script>

