<%
  translated_state = {'new' => 'Nouvelle', 'paid' => 'Payée', 'upstream' => 'Saisie FFCK', 'sent' => 'Envoyée'}
  @title = "Cotisation #{@subscription.year}"
  @breadcrumb = [['/', 'Accueil'], ['/subscriptions', 'Mes cotisations'], ["/subscriptions/#{@subscription.year}", @title]]
%>

<div id="contentfull">

<h2><%= @title %></h2>

<% if @subscription.editable_by_user? %>
  <p>
    Coût de votre cotisation <%= @subscription.year %> : <strong><%= @subscription.price %> euros</strong>.<br />
    <strong>Note</strong> : <u>la cotisation ne sera acceptée que lorsque le paiement aura été effectué et reçu par le trésorier.</u><br />
    Vous devrez également déposer une copie de votre certificat médical au club.
  </p>

  <form method="post">
    <div class="largeform">
      <h3>Vos coordonnées</h3>
      <p>Merci de vérifier que vos coordonnées sont correctes. Si ce n'est pas le cas, <a href="/account"><strong>cliquez ici pour les mettre à jour</strong></a>.</p>

      <label for="user_address">Adresse postale complète<span class="labeltip"></span></label>
      <textarea name="user[address]" id="user_address" rows="3" cols="60" readonly="readonly"><%= @subscription.user.address %></textarea>

      <label for="user_emails">Adresses e-mails<span class="labeltip"></span></label>
      <input type="text" name="user[emails]" id="user_emails" value="<%= @subscription.user.mail(true).join(', ') %>" readonly="readonly" />

      <label for="user_phones">Numéros de téléphone<span class="labeltip"></span></label>
      <input type="text" name="user[phones]" id="user_phones" value="<%= @subscription.user.mobile(true).join(', ') %>     <%= @subscription.user.home_phone(true).join(', ') %>     <%= @subscription.user.telephone_number(true).join(', ') %>" readonly="readonly" />

      <hr class="separator" />

      <h3>Demande de cotisation pour la saison <%= @subscription.year %></h3>

      <label for="subscription_medical_certificate_type">Certificat médical<span class="labeltip">Type</span></label>
      <select name="subscription[medical_certificate_type]" id="subscription_medical_certificate_type" class="<%= 'error' if @subscription.errors.on :medical_certificate_type %>">
        <% [nil, 'Compétition', 'Loisirs'].each do |type| %>
          <option value="<%= type %>" <%= "selected='selected'" if @subscription.medical_certificate_type == type %>><%= type %></option>
        <% end %>
      </select>

      <label for="subscription_medical_certificate_date">Certificat médical<span class="labeltip">Date (jj/mm/aaaa)</span></label>
      <input type="text" name="subscription[medical_certificate_date]" id="subscription_medical_certificate_date" class="input_date <%= 'error' if @subscription.errors.on :medical_certificate_date %>" value="<%= @subscription.medical_certificate_date %>" />

      <label for="subscription_comment">Commentaires<span class="labeltip">Facultatif</span></label>
      <textarea name="subscription[comment]" id="subscription_comment" rows="3" cols="30"><%= @subscription.comment %></textarea>

      <button type="submit">Valider la cotisation</button>
      <div class="spacer"></div>
    </div>
  </form>
  <p class="clear"></p>
<% else %>
  <p>Votre demande de cotisation pour <strong><%= @subscription.year %></strong> n'est plus éditable.</p>
  <p>Etat actuel : <strong><%= translated_state[@subscription.state] %></strong></p>
  <p>Pour toute demande de changement, contactez nous !</p>
<% end %>

<hr class="clear" />
</div>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){
    $(".input_date").datepicker({
      dateFormat:'dd/mm/yy',
      changeMonth:true, changeYear:true, yearRange:'<%= Date.today.year - 1 %>:<%= Date.today.year + 1 %>',
      showButtonPanel:true, closeText:'X', showOn:'both',
      buttonImage:'/images/icons/calendar.gif', buttonImageOnly:true,
      buttonText:'Calendrier', currentText:'Aujourd\'hui'
    });
  });
  //]]>
</script>

