<% 
  @title = "Annuaire des adhérents"
  @breadcrumb = [['/', 'Accueil'], ['/users', @title]]
%>

<h2>Annuaire des adhérents</h2>

<p>Liste de tous les adhérents de JEV :</p>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#users').dataTable( {
      "bJQueryUI": true,
      "bAutoWidth": false,
      "sPaginationType": "full_numbers",
      "iDisplayLength": 50
      } );
  } );
</script>

<table id="users" class="fullwidth">
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Fonction</th>
      <th>Catégorie</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><a href="/user/<%= u.uid %>"><%= u.display_name %></a></td>
        <td><%= u.firstname %></td>
        <td><%= u.lastname %></td>
        <td><%= u.title %></td>
        <td><%= u.ffck_category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

