<%
  @title = @user.name
  @breadcrumb = [['/', 'Accueil'], ['/users', 'Annuaire des adhérents'], ["/user/#{@user.uid}", @title]]
%>

<div id="contentfull">

<h2><%= @user.name %></h2>

<img src="<%= @user.avatar_url %>" />

<dl>
  <dt>Nom</dt>
  <dd><%= @user.name %></dd>
</dl>

<dl>
  <dt>Fonction</dt>
  <dd><%= @user.title %></dd>
</dl>

<dl>
  <dt>Anniversaire</dt>
  <dd><%= birth_day(@user.birth_date) %></dd>
</dl>

<hr class="clear" />
</div>

