<%
  @title = "Anniversaires"
  @breadcrumb = [['/', 'Accueil'], ['/users', 'Annuaire des adhérents'], ['/users/birthdays', @title]]
%>

<h2>Anniversaires</h2>

<ul class="pagination">
  <% pagination(@current_month.month, 12, 12).each do |month_number| %>
    <% if(@current_month.month == month_number) %>
      <li class="active"><%= Date::MONTHNAMES_FR[month_number] %></li>
    <% else %>
      <li><a href="/users/birthdays/<%= month_number %>"><%= Date::MONTHNAMES_FR[month_number] %></a></li>
    <% end %>
  <% end %>
</ul>

<% @months_and_birthdays.each do |month, birthdays| %>
<div class="birthdays">
  <h3><%= month.strftime("%B") %></h3>

  <ol class="birthdays">
  <% birthdays.each do |user| %>
    <li class="birthday">
      <span class="icon">
        <a href="/user/<%= user.uid %>">
          <img src="<%= user.avatar_url(48) %>" alt="<%= user.display_name %>" />
        </a>
      </span>
      <span class="content">
        <span class="user"><%= user.display_name %></span>
        <span class="date"><%= birth_day(user.birth_date) %></span>
      </span>
    </li>
  <% end %>
  </ol>
</div>
<% end %>

